{% extends "base.html" %}

{% block title %}Tutorial{% endblock %}

{% block content %}
<h1> Getting Started with AllocVote </h1>
<p> To use this tool, simply input the requested parameters ID, Likely or Expected Voters, Eligible Voters, and Ballot Length Measure. Then, click on the apportionment or allocation button based on which you would like the results to. Currently, the Excel file upload is still a work in progress.
    
<br><br>This tool supports copy and pasting from an Excel document. Simply select and copy these specific columns from your excel spreadsheet into the input fields. This should be in the format of each number with a space in between each number.

<br><br>Example Eligible Voters: "1304 5433 121 3421 960"

<br><br>You do not necessarily need to copy from an Excel spreadsheet. You can run multiple locations by separating the parameters of each one with a space like above.</p> <a href="Tester/user_voting_template.xlsm" download>Download Template</a>
{% endblock %}
