{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %} 
<h1>About</h1>
<p>
    Theodore T. Allen, Ph.D. is an Associate Professor in Integrated Systems Engineering and Computer Science Engineering (Courtesy) at the Ohio State University (OSU). He is a simulation Area Editor for Computers & Industrial Engineering (IF: 5.3), fellow of ASQ, past president of the INFORMS Section for Social Media Analytics, and an inaugural member of the MIT Election Science Laboratory. He is also the President and founder of FactSpread which brings referenced facts to millions. Dr. Allen is also the Chief Content Officer for the Institute for Cybersecurity & Digital Trust and a member of OSU’s Security Advisory Board. He is the winner six teaching awards and an OSU College of Engineering Lumely Research Award. He was also a semi-finalist in the 2020 INFORMS Edelman competition for helping DHL supply chain to save $160M with routing software. His applications have helped millions of save hours of waiting time in US elections.
</p>
{% endblock %}